body {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
    font-family: "Merriweather", "Monotype Corsiva", Arial, sans-serif;
    font-size: 159%;
}

.page-container {
    color: #40514E;
    width: 960px;
    margin: 0 auto;
}

h1 {
    /*-webkit-margin-before: 0em;*/
    /*-webkit-margin-start: 0px;*/
    font-size: 5.625rem;
    font-family: "Sacramento", "Monotype Corsiva", serif;
    margin-top: 50px;
    margin-bottom: 0;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}

hr {
    border: dotted #EAF6F6 6px;
    width: 4%;
    border-bottom: none;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: "Calibri", serif;
    margin: 20px 10px;
    padding-top: 30px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 2;
    margin: 16px 0;
}

.introduction {
    position: relative;
    background-color: darkcyan;
    width: 100%;
    height: 99px;
    margin-top: 19px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px auto;
    background-color: white;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 75px 0 9px;
}

.pro {
    text-decoration: underline;
}

.kidding {
    color: blueviolet;
}
.self-description {
    width: 30%;
    margin: auto;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 40px;
    right: 259px;
}

.skill-row {
    width: 69%;
    margin: 100px auto;
    text-align: left;
}

.skill-image-1 {
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-top: 99px;
    padding-bottom: 40px;
}

.clear {
    clear-side: right;
}

.skill-image-2 {
    width: 25%;
    margin-left: 30px;
    margin-top: 30px;
    float: right;
}

.intro_image {
    position: absolute;
    left: 99px;
}

.intro_tags {
    position: absolute;
    right: 99px;
    margin: 29px 9px;
    font-weight: bold;
}

.audio-file {
    position: absolute;
    right: 119px;
    margin-top: 59px;
    padding-top: 4px;
}

audio {
    height: 29px;
    width: 299px;
    background-color: steelblue;
    border: 3px solid #0b9c87;
    border-radius: 9%;
    color: darkgrey;
}

.intro_anchor_tags {
    margin: 0 19px;
}

.intro_tags a {
    color: #EAF6F6;
}

.intro_tags a:link {
    color: #EAF6F6;
}

.intro_tags a:hover {
    color: deeppink;
}

.intro_tags a:active {
    color: deeppink;
}

.love-hot-wings-paragraph {
    margin: 40px auto 60px;
    width: 45%;
    font-family: "Arial", serif;
    padding-bottom: 30px;
}

.copyright {
    color: #EAF6F6;
    font-size: 1rem;
    font-family: "Clarendon BT", serif;
    margin: 21px 0;
}

.heart {
    color: red;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    border-radius: 8px;
    font-family: Arial, serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 auto 40px auto;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

fieldset {
    width: 399px;
    border: 3px solid saddlebrown;
    margin: 0 auto;

}

legend {
    font-family: Arial, sans-serif;
    font-size: 79%;
    background-color: saddlebrown;
    border: 3px solid saddlebrown;
    text-align: left;
    text-transform: uppercase;
    border-radius: 10px;
    color: #EAF6F6;
}

input#submit {
    color: #444444;
    text-shadow: 0 1px 1px #ffffff;
    border-bottom: 2px solid #b2b2b2;
    border-radius: 9px;
    background-color: #b9e4e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#beeae9), to(#a8cfce));
    background: -moz-linear-gradient(top, #beeae9, #a8cfce);
    background: -o-linear-gradient(top, #beeae9, #a8cfce);
    background: -ms-linear-gradient(top, #beeae9, #a8cfce);
}

input#submit:hover {
    color: #333333;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    border-radius: 9px;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8cfce), to(#beeae9));
    background: -moz-linear-gradient(top, #a8cfce, #beeae9);
    background: -o-linear-gradient(top, #a8cfce, #beeae9);
    background: -ms-linear-gradient(top, #a8cfce, #beeae9);
    cursor: default;
}

label {
    font-size: 79%;
}

input[name="attached_files"] {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    border-radius: 8px;
    font-family: Arial, serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

input[name="attache_files"]:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

h1#phone-number {
    position: fixed;
    left: 379px;
    top: 99px;
    z-index: 5;
    background-color: #efefef;
    padding: 14px 0 0;
    margin: 0 auto;
    width: 59%;
}

h1#phone-number+p {
    position: fixed;
    top: 230px;
    z-index: 10;
    left: 379px;
    background-color: #efefef;
    padding: 0;
    margin: 0 auto;
    width: 59%;
}

.contact-me {
    height: 599px;
}

/*.skills-text {*/
/*    ;*/
/*}*/

/*.hot-wings-text {*/
/*    clear: right;*/
/*}*/
